@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Spectral:wght@300;400;600;700&display=swap");

body {
  color: #191919;
  font-family: "Spectral", serif;
  font-size: 105%;
}
a {
  cursor: pointer;
}
header {
  font-family: "Roboto", sans-serif;
  background-color: #ffc017;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 7.5%;
}
.navDx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
}
.navDx a {
  text-decoration: none;
  border-radius: 40px;
  background-color: #191919;
  color: whitesmoke;
  padding: 2.5% 4%;
  text-align: center;
}
.headerBottom {
  border-top: #373737 solid 1px;
  border-bottom: #8f8f8f solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7.5%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}
.headerDxM p {
  direction: rtl;
}
.headerSx {
  display: flex;
  flex-direction: column;
  align-self: normal;
  justify-content: space-evenly;
}
.headerSx p {
  font-size: 120%;
}
.headerSx a {
  text-decoration: none;
  border-radius: 40px;
  background-color: #191919;
  color: whitesmoke;
  padding: 2.5% 4%;
  text-align: center;
  width: 30%;
}
h1 {
  font-family: "Spectral", serif;
  font-size: 500%;
  font-weight: 500;
}
main {
  margin: 2% 7.5%;
  font-family: "Roboto", sans-serif;
}
.titoloSezione {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16%;
  margin-bottom: 2%;
  font-weight: 700;
  width: 20%;
}
.primiArticle {
  display: flex;
  flex: 27%;
  margin-bottom: 4%;
}
.testoSection1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11vh;
  margin-left: 2%;
}
.numeroSection1 {
  display: flex;
  font-weight: bold;
  font-size: 220%;
  font-family: "Roboto", sans-serif;
  color: #e4e4e4;
  margin-right: 1.5%;
}
.parteAlta img {
  max-width: 25px;
  border-radius: 50%;
}
.parteAlta {
  display: flex;
  align-items: center;
  justify-content: start;
}
.autore {
  font-weight: 500;
  font-size: 70%;
  margin-left: 3%;
}
.nomeArticolo {
  font-weight: bold;
  font-size: 90%;
  font-family: "Roboto", sans-serif;
}
.data {
  color: #818181;
  font-size: 70%;
}
.artcoliTopMain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.borderMain {
  border-bottom: #c5c5c5 solid 1px;
  margin-left: -100px;
  margin-right: -100px;
  margin-bottom: 4%;
}
.secondaSezione {
  display: flex;
  justify-content: space-between;
}
.secondiArticle {
  display: flex;
  margin-bottom: 2%;
  align-items: center;
  justify-content: space-between;
}
.testoSection2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11vh;
  margin-left: 2%;
  margin-right: 2%;
  align-self: baseline;
}
.immagini {
  display: flex;
}
.immagini img {
  max-width: 200px;
}
.parteBassa {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parteAlta {
  margin-top: 2%;
}
.parteBassaSx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parteBassaDx {
  display: flex;
}
.secondaSezione .parteAlta .autore {
  margin-left: 1%;
}
.secondaSezione .parteAlta {
  margin-bottom: 2%;
}
.testoSection2 .nomeArticolo {
  margin-bottom: 1%;
}
