@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Spectral:wght@300;400;600;700&display=swap");

/* io mi sono perso troppo a capire come fare le stelline all'inizio, poi mi sono incartatato circa un'ora tra mille div flex */

body {
  color: #191919;
  font-family: "Spectral", serif;
  font-size: 105%;
}
a {
  cursor: pointer;
}
header {
  font-family: "Roboto", sans-serif;
  background-color: #ffc017;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 7.5%;
}
.navDx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36%;
}
.navDx p {
  margin-left: 2%;
}
.navDx a {
  text-decoration: none;
  border-radius: 40px;
  background-color: #191919;
  color: whitesmoke;
  padding: 2.5% 4%;
  text-align: center;
  margin-left: 2%;
}
.headerBottom {
  border-top: #373737 solid 1px;
  border-bottom: #8f8f8f solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7.5%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}
.headerDxM p {
  direction: rtl;
}
.headerSx {
  display: flex;
  flex-direction: column;
  align-self: normal;
  justify-content: space-evenly;
}
.headerSx p {
  font-size: 120%;
}
.headerSx a {
  text-decoration: none;
  border-radius: 40px;
  background-color: #191919;
  color: whitesmoke;
  padding: 2.5% 4%;
  text-align: center;
  width: 30%;
}
h1 {
  font-family: "Spectral", serif;
  font-size: 500%;
  font-weight: 500;
}
main {
  margin: 2% 7.5%;
  font-family: "Roboto", sans-serif;
}
.titoloSezione {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16%;
  margin-bottom: 2%;
  font-weight: 700;
  width: 20%;
}
.primiArticle {
  display: flex;
  flex: 27%;
  margin-bottom: 4%;
}
.testoSection1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11vh;
  margin-left: 2%;
}
.numeroSection1 {
  display: flex;
  font-weight: bold;
  font-size: 220%;
  font-family: "Roboto", sans-serif;
  color: #e4e4e4;
  margin-right: 1.5%;
}
.parteAlta img {
  max-width: 25px;
  border-radius: 50%;
}
.parteAlta {
  display: flex;
  align-items: center;
  justify-content: start;
}
.autore {
  font-weight: 500;
  font-size: 70%;
  margin-left: 3%;
}
.nomeArticolo {
  font-weight: bold;
  font-size: 90%;
  font-family: "Roboto", sans-serif;
}
.data {
  color: #818181;
  font-size: 70%;
}
.artcoliTopMain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.borderMain {
  border-bottom: #d0d0d0 solid 1px;
  margin-left: -88px;
  margin-right: -88px;
  margin-bottom: 4%;
}
.secondaSezione {
  display: flex;
  justify-content: space-between;
}
.secondiArticle {
  display: flex;
  margin-bottom: 6%;
  align-items: center;
  justify-content: space-between;
}
.testoSection2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11vh;
  margin-left: 2%;
  margin-right: 2%;
  align-self: baseline;
  width: 100%;
}
.immagini {
  display: flex;
}
.immagini img {
  max-width: 200px;
  margin-left: 5%;
}
.parteBassa {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parteAlta {
  margin-top: 2%;
}
.parteBassaSx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parteBassaDx {
  display: flex;
}
.secondaSezione .parteAlta .autore {
  margin-left: 1%;
}
.secondaSezione .parteAlta,
.parteBassa {
  margin-bottom: 2%;
}
.testoSection2 .nomeArticolo {
  margin-bottom: 1%;
}
.testoSection2 .data {
  font-size: 65%;
}
.sezioneDx {
  text-align: center;
  font-size: 60%;
  width: 48%;

  display: flex;
  flex-direction: column;
  height: 3vh;
}
.sezioneDx div:nth-child(2) {
  border-bottom: #dbdbdb solid 1px;
  margin: 1% 22.5%;
}
.sezioneDx h6 {
  color: #9b9b9b;
}
.sezioneDx .p p {
  color: #9b9b9b;
  border: #dfdfdf solid 1px;
  padding: 2%;
  font-size: 90%;
  margin: 1% 1%;
}
.p {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2%;
}
.sezioneDx h2 {
  font-size: 105%;
  font-weight: 700;
}
.sezioneDx h6 {
  padding: 2%;
  width: 10%;
  display: inline-block;
}
.h6 {
  margin-left: 62px;
  margin-right: 62px;
  margin-top: 1%;
}
/* .nav {
  position: fixed;
  top: 0;
} */
